body{background:#0f172a;font-family:sans-serif;color:white}
.box,.login-box{
 width:350px;margin:60px auto;padding:20px;
 background:#020617;border-radius:12px
}
input,button{
 width:100%;margin:8px 0;padding:10px;
 border-radius:8px;border:none
}
button{
 background:#22c55e;font-weight:bold;cursor:pointer
}
.card{
 background:#020617;padding:12px;border-radius:8px;
 margin-bottom:10px
}
